<div class="main-container">
    <div class="staff-list">
        <h2>Liste des employés</h2>
        <app-staff-list></app-staff-list>
    </div>
    <div class="turnover">
        <h2>Chiffre d'affaire</h2>
        <app-turnover></app-turnover>
    </div>
    <div class="manpower">
        <h2>Effectif salarial</h2>
        <app-manpower></app-manpower>
    </div>
    <div class="genders">
        <h2>Répartition H / F</h2>
        <app-genders></app-genders>
    </div>
    <div class="productivity">
        <h2>Productivité</h2>
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="sales">
        <h2>Meilleures ventes</h2>
        <app-sales></app-sales>
    </div>
    <div class="social">
        <h2>Réseaux sociaux</h2>
        <img class="twitter" src="../../../assets/img/twitter.png" alt="">
        <span class="followers">21.156</span>
        <span class="followers-update">+ 124 cette semaine</span>
    </div>
</div>
